/* Lab 3 4.1 */
html{
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  display: block;
  margin: 8px;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0 1em;
  background: canvas;
  color: canvastext;
}

a{color: inherit; }
nav {
  display: flex;
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5em 0;
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}



nav a {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
  flex: 1;
  text-decoration: none;
  color:inherit;
  text-align: center;
  padding: 0.5em;
}
nav a:hover{
  background-color: lime;
}

/* for 3.1 3.2 */
label,
input, 
textarea,
button {
  font: inherit;
  display: block;
}

/* input,
textarea,
button{
  width: 100%;
  box-sizing: border-box;
}

label{
  margin-block: 0.5em;
} */
 form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
 }
 label {
  grid-column: 1 ;
  justify-self: end;
 }
 input, 
 textarea {
  grid-column: 2;
  width: 100%;
  box-sizing: border-box;
 }
 button {
  grid-column: 1 / -1;
  box-sizing: border-box;
 }

 .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em; /*spacing for cards */
 }
 .projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
 }
 .projects h2 {
  margin: 0; /*so we can remove space around the headings*/
 }

 /* 4,4 styling and finishing touches */
 h1{
  font-size: 400%
 }

 h1, h2, h3, h4, h5, h6 {
  line-height: 2.1;         
  text-wrap: balance;       /* keeps multi-line headings even */
}


/* Resume */

#resume-img{
  display: block;
  max-width: 600px;   
  width: 100%;        
  height: auto;       /* keeps aspect ratio */
  margin: 2rem auto;  
  border-radius: 20px; /* round edging */
}


/* 4.3 */
.color-scheme {
  position: absolute;   /* takes it out of normal flow */
  top: 1rem;            /* distance from top */
  right: 1rem;          /* distance from right edge */
  font-size: 80%;       /* make it a little smaller */
  font-family: inherit; /* match the rest of the site */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-scheme select {
  font-family: inherit;
  font-size: 100%;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#profile-stats dt {
  font-weight: bold;
  text-transform: uppercase;
}

#profile-stats dd {
  font-size: 1.5rem;
  margin: 0;
}

